body {
    font-family: 'Times New Roman', sans-serif;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: auto;
    width: 80%; /* Adjust the width as per your preference */
    max-width: 500px; /* Adjust the maximum width as per your preference */
    height: auto; /* Adjust the height as per your preference */
}

.container {
    margin: auto; /* Center horizontally */
    margin-top: 20px; /* Add top margin */
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center vertically */
    width: 80%; /* Adjust the width as per your preference */
    max-width: 500px; /* Adjust the maximum width as per your preference */
    height: auto; /* Adjust the height as per your preference */
}



.letter {
    display: none;
}

button {
    width: 150px; /* Set a fixed width */
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}

button:hover {
    background-color: #45a049;
}

#hideButton {
    display: none; /* Initially hide the hide button */
}
